.confirm-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e98686, #c45050);
}

.box {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.card-content {
    cursor: pointer;
}
