:root {
    --pink-background: linear-gradient(135deg, #5e5b5b, #404654);
    --blue-background: linear-gradient(135deg, #434e5c, #1a5580);
    --choice-background: linear-gradient(135deg, #2b2828, #504e4e);
}

form.pinkBackground {
    background: var(--pink-background);
}

form.blueBackground {
    background: var(--blue-background);
}