.background-image {
    display: outside;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('src\components\imgs\LoginBackground.jpg');
    background-size: 200% 200%;
    position: relative;
}