.background-image {
    display: inside;
    align-items: center;
    min-height: 100vh;
    background-image: url('src\components\imgs\fondo4.jpg');
    background-size: 100% 100%;
    position: relative;
}