:root {
    --pink-background: linear-gradient(135deg, #404654, #404654);
    --blue-background: linear-gradient(135deg, #434e5c, #616263);
    --choice-background: linear-gradient(135deg, #f8f4f4, #f1f1f1);
}

.pinkBackground {
    background: var(--pink-background);
}

.blueBackground {
    background: var(--blue-background);
}

.has-background-custom {
    background-color: #f0eee8; /* Cambia este valor al color que prefieras */
  }
  

.card {
    cursor: pointer;
}