:root {
    --pink-background: linear-gradient(135deg, #404654, #404654);
    --blue-background: linear-gradient(135deg, #434e5c, #616263);
    --choice-background: linear-gradient(135deg, #f8f4f4, #f1f1f1);
}

.pinkBackground {
    background: var(--pink-background);
}

.blueBackground {
    background: var(--blue-background);
}

.has-background-custom {
    background-color: #6659c3; 
  }
  

.song-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%;
}

.song-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.song-list-item:hover {
    background-color: #f0f0f0;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px; 
}

.card-image {
    margin-right: 8px; 
}

.media-content-with-icon {
    display: flex;
    align-items: center;
}

.song-icon {
    margin-right: 8px; 
    width: 20px; 
    height: 20px; 
    object-fit: cover;
    border-radius: 50%;
}

.title.is-4 {
    margin: 0;
    font-size: 1rem; 
}



.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player audio {
    width: 95%; 
    max-width: 1200px; 
}

.music-player .audio-controls {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}
